{% extends "game/base.html" %}
{% load static %}

{% block content %}
    {% comment %} {% for post in posts %}
        <h1>{{ post.title }}</h1>
        <p>By {{ post.author }} on {{ post.date}} </p>
        <p>{{ post.content }}</p>
    {% endfor post %} {% endcomment %}

    <div class="fixed-rectangle">
        <img class="image_center" src="{% static "sprites/493.png" %}" alt="Not working"> </img>
    </div>
{% endblock content %}

{% block submit_Answer %}
    <div class="submit_answer">
        <input class="form-control" type="text" placeholder="Default input" value={{ user_guess }}>
    </div>
{% endblock submit_Answer %}